.content-formula{
    user-select: none; 
   -webkit-user-select: none; 
   -khtml-user-select: none; 
   -moz-user-select: none; 
   -ms-user-select: none; 
}

.active-formula{
    background-color: brown;
}

.active-term{
    background-color: blueviolet;
}

.active-mult{
    background-color: blue;
}

.mq-math-mode .mq-supsub {
    font-size: 75%;
    vertical-align: -0.5em;
}

.in-formula{
    padding-right: 20px !important;
    font-size: 2em !important;
}

#header{
    color: aliceblue;
}
.context-menu{
    position: fixed;
}
.context-menu.active-cm{
    display: block;
}
.interactive{
    min-height: 100px;
    background-color: rgb(255, 255, 255);
}
.math-input{
    display: none;
    position:absolute;
    width: 100%;
    z-index: 500;
}

body{
    background-color: aliceblue;
}

.in-function, .in-term, .in-equality-part{
    display: inline-block;
}
