.content-formula, .content-text{
    user-select: none; 
   -webkit-user-select: none; 
   -khtml-user-select: none; 
   -moz-user-select: none; 
   -ms-user-select: none; 
}

.active-formula{
    background-color: brown;
}

.active-term{
    background-color: blueviolet;
}

.active-mult{
    background-color: blue;
}

.active-text{
    background-color: green;
}

.mq-math-mode .mq-supsub {
    font-size: 75%;
    vertical-align: -0.5em;
}

.mq-math-mode {
    border:1px solid #ced4da;
}

.in-formula{
    padding: 10px 0;
    padding-right: 20px !important;
    font-size: 2em !important;
}

.content-text{
    font-size: 1.5em;
}

.context-menu{
    position: fixed;
}
.context-menu.active-cm{
    display: block;
}
.interactive{
    min-height: 500px;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}
.math-input,.text-input{
    display: none;
    position:absolute;
    width: 100%;
    z-index: 500;
}

body{
    background-color: aliceblue;
}

html, body{
    height: 100%;
}

.in-function, .in-term, .in-equality-part{
    display: inline-block;
}

.input-form{
    background-color: white;
}
.input-error{
    color: #dc3545ed!important;
    display: none;
}

#black-bg, #shot-box{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    overflow: auto;
}

 .d-flex{
    width: 100%;
    height: 100%;
}

#file-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

 
 .item{
    font-size: 1.2em;
    height: 50px;
    line-height: 50px;
    margin: 1px;
    text-align: center;
    padding: 0;
}
#keyboard-box{
    display: none;
    background-color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    left:0;
    z-index: 500;
    box-shadow: 0 -.5rem 1rem rgba(0,0,0,.15)
}
#keyboard-box hr{
    margin: 0.75rem 0;
}
.row>.row{
    margin:0px;
    flex-wrap: nowrap;
    flex: 0 0 auto,
}
.MathJax{
    display: inline-block !important;
    margin: 0 !important;
}
