.content-formula{
    user-select: none; 
   -webkit-user-select: none; 
   -khtml-user-select: none; 
   -moz-user-select: none; 
   -ms-user-select: none; 
}

.active-formula{
    background-color: brown;
}

.active-term{
    background-color: blueviolet;
}

.active-mult{
    background-color: blue;
}

.mq-math-mode .mq-supsub {
    font-size: 75%;
    vertical-align: -0.5em;
}

.in-formula{
    padding-right: 20px !important;
}

#interactive{
    padding: 0 20px 20px 0;
    font-size: 30px;
}

#input-field{
    width: 80%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}


.container{
    margin-bottom: 20px;
}

.content{
    width: 810px;
    margin: 0 auto;
}


#input{
    height: 40px;
}

#render-button{
    height: 100%;
    width: 15%;
}

#output{
    height:80px;
}

