input{
    width: 80%;
    height: 100%;
    box-sizing: border-box;
}

.katex .hide-tail{
    z-index: -1;
}

.container{
    margin-bottom: 10px;
}

.content{
    width: 810px;
    margin: 0 auto;
}

.katex{
    font-size: 2em
}

.input-form{
    height: 40px;
}

#render-button{
    height: 100%;
    width: 15%;
}

#output-field{
    height:80px;
}
